body {
  color: #CBC3E3 !important;
  background-color: #F2ECFD !important;
}

.todo-item {
  border: 1px solid #CBC3E3;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item:hover {
  text-decoration: underline;
}

.todo-content {
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 1.2rem;
  padding: 1em
}

.add-item-row {
  margin-top: 50px !important;
  margin-bottom: 30px;
}

.input-box {
  padding: 10px;
  width: 100%;
  border: 1px solid #CBC3E3;
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 1.3rem;
}

.input-box:focus {
  outline: none;
}

button {
  background-color: #CBC3E3;
  color: white;
}

.button-add {
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 1.3rem;
  height: 40px;
  width: 100%;
  border: none;
  background-color: #CBC3E3;
  color: white;
}

.button-add:hover {
  background-color: white;
  color: #CBC3E3;
  border: 2px solid #CBC3E3;
}

.button-delete {
  background-color: white;
  border: 2px solid #CBC3E3;
  color: #CBC3E3;
  margin: 10px;
  font-family: 'Ownglyph_meetme-Rg';
}

.button-delete:hover {
  background-color: #CBC3E3;
  color: #ffffff;
}

.item-complete {
  background-color: gainsboro;
  color: white;
}

.item-complete:hover {
  text-decoration: underline;
}

.todo-text {
  font-family: 'Uiyeun';
  font-size: 2.5rem;
}

.login-box {
  border: 1px solid #CBC3E3;
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
}

.login-box label {
  font-weight: 700;
}

.display-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.button-box {
  display: flex;
  justify-content: space-between
}

.button-primary {
  background-color: #CBC3E3 !important;
  color: #ffffff !important;
  border: none !important;
}

.red-error {
  color: red;
  font-weight: bold;
}

.logout-button{
  cursor: pointer;
}


@font-face {
  font-family: 'Uiyeun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ownglyph_meetme-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}