body {
  color: #CBC3E3 !important;
  background-color: #F2ECFD !important;
}

.todo-item {
  border: 1px solid #CBC3E3;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item:hover {
  text-decoration: underline;
}

.todo-content {
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 1.2rem;
  padding: 1em
}

.add-item-row {
  margin-top: 50px !important;
  margin-bottom: 30px;
  padding: 0px;
}

.input-box {
  padding: 10px;
  width: 100%;
  border: 1px solid #CBC3E3;
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 1.3rem;
}

.input-box:focus {
  outline: none;
}

button {
  background-color: #CBC3E3;
  color: white;
}

.button-add {
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 1.3rem;
  height: 40px;
  width: 40px;
  border: none;
  padding: 0px;
  margin: 0px;
  color: white;
  background-color: transparent;
}

.button-add img {
  width: 40px;
  height: fit-content;
}

.button-add:hover {
  opacity: 0.5;
}

.button-delete {
  background-color: transparent;
  border: none;
  color: #CBC3E3;
  margin: 10px;
  font-family: 'Ownglyph_meetme-Rg';
  width: 50px;
}

.button-delete img {
  width: 100%;
  height: auto;
}

.button-delete:hover {
  opacity: 0.5;
}

.button-delete:active {
  opacity: 0.5;
}

.item-complete {
  background-color: gainsboro;
  color: white;
}

.item-complete:hover {
  text-decoration: underline;
}

.todo-text {
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 2.5rem;
}

.login-box {
  border: 1px solid #CBC3E3;
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
}

.login-box label {
  font-weight: 700;
}

.display-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.display-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.button-box {
  display: flex;
  justify-content: space-between
}

.button-primary {
  background-color: #CBC3E3 !important;
  color: #ffffff !important;
  border: none !important;
}

.button-back {
  background-color: #CBC3E3;
  color: white;
  margin: 10px;
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 1.3rem;
  width: 150px;
  height: 40px;
  border: none;
}

.red-error {
  color: red;
  font-weight: bold;
}

.logout-button {
  cursor: pointer;
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 1.5rem;
}

.logout-button:hover {
  text-decoration: underline;
}

.profile-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Ownglyph_meetme-Rg';
  font-size: 1.3rem;
}

.loading {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'Ownglyph_meetme-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}