body{
  color: #CBC3E3 !important ;
  background-color: #F2ECFD !important; 
}



.todo-item{
  border: 1px solid #CBC3E3;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-content{
  padding:1em
}
.add-item-row{
  margin-top:50px !important;
  margin-bottom: 30px;
}
.input-box{
  padding: 10px;
  width:100%;
  border: 1px solid #CBC3E3;
  
  
}
.input-box:focus{
  outline: none;
}
.button-add{
  height: 40px;
  width: 100%;
  border: none;
  background-color: #CBC3E3;
  color: white;
}
.button-add:hover{
  background-color: white;
  color: #CBC3E3;
  border: 2px solid #CBC3E3;
}
.button-delete{
  background-color: white;
  border: 2px solid #CBC3E3;
  color: #CBC3E3;
  margin: 10px;
}
.button-delete:hover{
  background-color: #CBC3E3;
  color: #ffffff;
}

.item-complete{
  background-color: gainsboro;
  color:white;
}